.card {
    border: 1px solid #808080;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    h3 {
        font-weight: 500;
    }

    p {
        font-size: 12px;
        flex-grow: 1;
        text-align: left;
    }
}

.cardImageBox {
    margin-bottom: 1rem;

    img {
        width: 100%;
        aspect-ratio: 313 / 313;
        object-fit: cover;
    }
}

.cardInfo {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    strong {
        font-size: 1.125rem;
    }
}

.cardActions {
    display: flex;
    gap: .5rem;
}

.editBtn {
    border: 1px solid #fff;
    background-color: #2d2dff;
    color: #fff;
    transition: border .3s ease;

    &:hover {
        border: 1px solid #2d2dff;
    }
}

.deleteBtn {
    border: 1px solid #fff;
    background-color: #ff1919;
    color: #fff;
    transition: border .3s ease;

    &:hover {
        border: 1px solid #ff1919;
    }
}