.wrapperButtons {
    display: flex;
    gap: .5rem;

    button {
        border: 1px solid #fff;
        padding: .3125rem;
        font-size: .75rem;
        transition: background-color .3s ease, color .3s ease;

        &:hover {
            background-color: #fff;
            color: #5851de;
        }
    }
}

.active {
    background-color: #fff;
    color: #5851de;
}