*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
/* =========================================================================== */
body {
  color: #fff;
  background: fixed linear-gradient(transparent, #070707 70%),
    fixed repeating-linear-gradient(#2b2b2b,
      #2b2b2b 1px,
      transparent 1px,
      transparent 40px),
    fixed repeating-linear-gradient(to right,
      #2b2b2b,
      #2b2b2b 1px,
      transparent 1px,
      transparent 40px) #070707;
}
:root {
  max-width: 1200px;
  margin-inline: auto;

}