*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  /* line-height: 1; */
  height: 100%;
  font-family: "Roboto", sans-serif;
  ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
}

/* ////////////////////////////////////////////////// */
table,
th,
td {
  border: 2px solid #ddd;
}

td,
th {
  padding: .75rem;
}

button {
  padding: .625rem;
  border-radius: .3125rem;
  color: #fff;
  transition: background-color .3s ease;

  &:hover {
    background-color: #fff;
  }
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
label {
  display: block;
  margin-bottom: .3125rem;
  color: #666;
}

input {
  width: 100%;
  padding: .625rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: .3125rem;
}

.inputBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}