.containerList {
    max-width: 50rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
        padding-bottom: 1rem;
        border-bottom: 1px solid #fff;
    }
}