.input {
    width: 88%;
    padding: .3125rem .625rem;
}
.playerBox {
    padding: 1rem;
    border: .0625rem solid #a9a9a9;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex-basis: 204px;
}