*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  /* line-height: 1; */
  height: 100%;
  font-family: "Roboto", sans-serif;
  ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
}

/* ////////////////////////////////////////////////// */
table,
th,
td {
  border: 1px solid #556832;
}
td, th {
  padding: .3125rem;
}
header {
  background-color: #000;
  color: #fff;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: .3125rem .5rem;
  border-radius: .3125rem;
  background-color: #4169E1;
  border: 2px solid #4169E1;
  color: #fff;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

table {
  margin: 0 auto;
}
form {
  width: 500px;
  border: 1px solid #556832;
  border-radius: 5px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: .625rem;
}
input {
  max-width: 100%;
  border: 1px solid #000;
  padding: .3125rem .5rem;
  border-radius: .3125rem;
}
.inputBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
