.cartItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    padding-block: 1rem;
}

.cartItem {
    padding: .5rem;
    border: 1px solid #808080;

    display: flex;
    gap: 1rem;

    img {
        width: 150px;
        height: 150px;
    }
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    h3 {
        font-size: 1.25rem;
    }
}

.priceCount {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.quantity {
    display: flex;
    gap: .5rem;
    align-items: center;

    button {
        width: 30px;
        height: 30px;
    }
}

.removeBtn {
    align-self: start;
    background-color: #ff0000;
}

.cartSummary {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    h3 {
        font-size: 1.25rem;
    }
}

.buttons,
.total {
    display: flex;
    gap: .5rem;
}

.continueShopping {
    margin-top: 1rem;
    color: #000;
    border: 1px solid #000;
    padding: 3px;
    background-color: #fff;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
        color: #fff;
        border: 1px solid #fff;
        background-color: #000;
    }
}