.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 81.25rem;
    margin: 0 auto;
}

.left {
    display: flex;
    gap: 1rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navLink {
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s ease;

    &:hover {
        border-bottom: 1px solid white;
    }
}

.active {
    border-bottom: 1px solid white;
}

.logoutBtn {
    background-color: transparent;
    border: 1px solid #fff;
    font-size: .875rem;
    transition: background-color .3s ease;


    &:hover {
        background-color: #5851de;
    }
}