.footerContainer {
    padding-block: .5rem;
    color: #fff;
    background: #7871E5;
    background: linear-gradient(180deg, #5851de 0%, #7871e5 100%);
    text-align: center;

    p {
        font-size: .875rem;
    }
}