.coinPageContainer {
    padding-block: 1rem;
}

.backButton {
    background-color: #6b7280;
    font-size: .875rem;
    margin-bottom: 1rem;

    &:hover {
        background-color: #5a606b;
    }
}

.messageBox {
    padding: .625rem;
    border-radius: .3125rem;
    margin-bottom: 1rem;
    max-width: max-content;
}

.coinInformation {
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'top top top'
        'col1 col2 col2'
        'bot bot bot';
}

.coinInformation>div {
    border: 1px solid #ddd;
    background-color: #f1f5f9;
    border-radius: .5rem;
    padding: 1rem;
}

.myBalanceBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: top;

}

.myBalanceBox div p:first-child {
    color: #666;
    margin-bottom: .5rem;
}
.myBalanceBox div p:last-child {
    font-weight: 500;
    font-size: 1.25rem;
}
.coinMainInformation {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-area: col1;

    img {
        width: 80px;
        aspect-ratio: 1;
    }
    h1 {
        font-size: 2.5rem;
        margin-bottom: .625rem;
    }
}
.coinMainInformationContent {
    display: flex;
    gap: 1.875rem;
}
.coinMainInformationContent div p:first-child {
    color: #666;
    margin-bottom: .5rem;
}

.coinMainInformationContent div p:last-child {
    font-weight: 500;
    font-size: 1.625rem;
}
.coinBuySellBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-area: col2;
}
.coinDescrBox {
    grid-area: bot;

    h2 {
        text-align: center;
        font-size: 1.875rem;
        margin-bottom: 1rem;
    }
    p {
        line-height: 1.4;
        text-align: justify;
    }
}