.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    label {
        font-size: 1.4rem;
    }

    input {
        border: 1px solid gray;
        border-radius: .3125rem;
        width: 25rem;
        padding: .5rem .625rem;
    }
}

.buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.buttonAdd,
.buttonBack {
    padding: .5rem .625rem;
    font-size: 1rem;
    background-color: #f0858b;
    border-radius: .3125rem;
    transition: background-color .3s ease;

    &:hover {
        background-color: #d78286;
    }
}

.buttonBack {
    background-color: #000;

    &:hover {
        background-color: #292929;
    }
}