.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;

    padding-bottom: 2rem;
}
.product {
    border: 1px solid gray;
    padding: .5rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.productImgBox {
    /* flex-grow: 1; */

    margin-bottom: 1rem;

    img {
        width: 100%;
        aspect-ratio: 313 / 313;
        object-fit: cover;
    }
}