*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* li {
  list-style: none;
} */

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  /* line-height: 1; */
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
}

/* ////////////////////////////////////////////////// */
table,
th,
td {
  border: 1px solid #556832;
}

td,
th {
  padding: .3125rem;
}

body {
  font-family: "Jersey 10", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #fff;
  color: #000;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    list-style: none;
  }
}

button {
  padding: 3px 5px;
  background-color: #000;
  border: 1px solid #ff0000;
  color: #ff0000;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
}

table {
  margin: 0 auto;
}

form {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #fff;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  max-width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  padding: 3px 5px;
  color: #000;
}

.inputBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}