.container {
    padding-top: 3.125rem;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
    }

    ul h4 {
        margin-bottom: .625rem;
    }

    ul li {
        margin-left: 1rem;
        margin-bottom: .5rem;
    }
}