.registerContainer {
    max-width: 25rem;
    margin: 2.5rem auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: .5rem;

    h1 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}

.errorDiv {
    padding: .5rem;
    background-color: #fee2e2;
    color: #dc2626;
    border-radius: 5px;
    margin-bottom: 20px
}

.orDiv {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #666;

    div {
        flex: 1;
        height: 1px;
        background-color: #ddd
    }

    span {
        font-size: .875rem;
        padding: 0 .625rem;
    }
}

.googleButton {
    width: 100%;
    background-color: #fff;
    color: black;
    border: 1px solid #ddd;
    transition: border .3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    img {
        width: 1.25rem;
        aspect-ratio: 1;
    }

    &:hover {
        border: 1px solid #000;
    }
}

.signUpTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    margin-top: 1.25rem;

    p {
        color: #666;
    }

    a {
        color: #3b82f6;

        &:hover {
            text-decoration: underline;
        }
    }
}