.item {
    border: .0625rem solid rgb(0, 0, 0, .5);
    border-radius: .5rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: .625rem;

    a {
        flex-grow: 1;
        h2 {
            font-size: 20px;
            line-height: 1.2;
            /* color: #000; */
        }
    }
    button {
        align-self: flex-start;
        transition: background-color .3s ease;

        &:hover {
            background-color: #039800;
        }
    }
}

.itemImgBox {

    img {
        width: 100%;
        aspect-ratio: 210 / 134;
        object-fit: cover;
    }
}

.itemContent {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: .625rem;

    p {
        font-size: .875rem;
    }
}

.itemContent span:first-of-type {
    color: rgb(0, 0, 0, .5);
    text-decoration: line-through;
    font-size: .875rem;
}

.itemContent span:last-of-type {
    color: #ff0000;
    font-size: 1.25rem;
}