.addBtn {
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 3px 5px;
    border: 1px solid #fff;
    transition: background-color .3s ease, color .3s ease, border .3s ease;

    &:hover {
        background-color: #000;
        color: #35d600;
        border: 1px solid #35d600;
    }
}