*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  /* line-height: 1; */
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
}

/* //////////////////////////////////////////////////////////////// */
button {
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

h1 {
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
  font-family: "Ewert", serif;
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
  font-weight: 700;
}
p {
  font-size: 1.25rem;
}
