.localPriceInfoDiv {
    background-color: #fff;
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: .3125rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.localPriceInfoDiv p:first-child {
    margin-bottom: .3125rem;
    font-weight: 500;
}

.localPriceInfoDiv p:last-child {
    color: #3b82f6;
}

.chartContainer {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: .5rem;
    background-color: #f1f5f9;

    h3 {
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}

.chartBox {
    width: 100%;
    height: 25rem;
}

.chartPriceInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
}

.chartPriceContent p:first-child {
    color: #666;
    font-size: .875rem;
    margin-bottom: .5rem;
}
.chartPriceContent p:last-child {
    font-size: 1.125rem;
    font-weight: 500;
}