.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 70px;

    button {
        align-self: start;
    }
}
.input {
    padding: 6px 12px;
    width: 500px;
}