.searchSection {
    padding: 1rem;
    border: .0625rem solid #ffffff;
    border-radius: .3125rem;
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.productInput {
    width: 100%;
    margin-bottom: 1.25rem;
    padding: .625rem;
}

.productList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .625rem;

    padding: 0.5rem;
    border-radius: .1875rem;
    border: .0625rem solid #8d8d8d;

    img {
        width: 3.125rem;
        aspect-ratio: 1;
        object-fit: cover;
    }
}