.editLink {
    background-color: #000;
    color: #4b5dffff;
    padding: 3px 5px;
    border: 1px solid #4b5dffff;
    transition: background-color .3s ease, color .3s ease;
}
.editLink:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}