.default {
    background-color: transparent;
}
.white {
    background-color: #d0d0d0;
} 
.blue {
    background-color: aqua;
} 
.green {
    background-color: green;
} 
.red {
    background-color: red;
}
label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    input {
        max-width: 200px;
    }
}