.favourites {
    a {
        margin-top: 1rem;
        color: #000;
        border: 1px solid #000;
        padding: 3px;
        background-color: #fff;
        transition: color .3s ease, background-color .3s ease;

        &:hover {
            color: #fff;
            border: 1px solid #fff;
            background-color: #000;
        }
    }
}

.favouriteItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding-block: 2rem;
}