.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: #7871E5;
    background: linear-gradient(180deg, #7871e5 0%, #5851de 100%);
    min-height: 50px;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    flex: 1;
}