.container {
    display: flex;
    gap: 50px;
    align-items: center;
}
.imageBox {
    flex-basis: 31.25rem;

    img{
        max-width: 100%;
    }
}
.info {
    h2 {
        font-size: 2.125rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
}